<a href="https://colab.research.google.com/github/03axdov/Notebooks/blob/main/AbaloneAge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers

In [8]:
abalone_train = pd.read_csv(
    "https://storage.googleapis.com/download.tensorflow.org/data/abalone_train.csv",
    names = ["Length", "Diameter", "Height", "Whole weight", "Shucked weight",
             "Viscera weight", "Shell weight", "Age"]
)

abalone_train.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [3]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop("Age")

In [5]:
abalone_features = np.array(abalone_features)
abalone_features.shape

(3320, 7)

In [17]:
abalone_model = tf.keras.Sequential([
    layers.Dense(64),
    layers.Dense(1)
])

abalone_model.compile(
    optimizer = tf.keras.optimizers.Adam(),
    loss = tf.keras.losses.MeanSquaredError(),
    metrics = ["accuracy"]
)

In [18]:
abalone_model.fit(
    abalone_features,
    abalone_labels, epochs=10
)

Epoch 1/10
104/104 [==============================] - 1s 2ms/step - loss: 61.2705 - accuracy: 0.0000e+00
Epoch 2/10
104/104 [==============================] - 0s 2ms/step - loss: 11.8530 - accuracy: 3.0120e-04
Epoch 3/10
104/104 [==============================] - 0s 2ms/step - loss: 8.6532 - accuracy: 3.0120e-04
Epoch 4/10
104/104 [==============================] - 0s 2ms/step - loss: 8.1160 - accuracy: 3.0120e-04
Epoch 5/10
104/104 [==============================] - 0s 2ms/step - loss: 7.6458 - accuracy: 3.0120e-04
Epoch 6/10
104/104 [==============================] - 0s 2ms/step - loss: 7.2802 - accuracy: 3.0120e-04
Epoch 7/10
104/104 [==============================] - 0s 2ms/step - loss: 7.0008 - accuracy: 3.0120e-04
Epoch 8/10
104/104 [==============================] - 0s 2ms/step - loss: 6.7966 - accuracy: 3.0120e-04
Epoch 9/10
104/104 [==============================] - 0s 2ms/step - loss: 6.6550 - accuracy: 3.0120e-04
Epoch 10/10
104/104 [==============================] - 0s 2ms/step - loss: 6.5420 - accuracy: 3.0120e-04

In [19]:
normalize = layers.Normalization()

In [20]:
normalize.adapt(abalone_features)

In [27]:
norm_abalone_model = tf.keras.Sequential([
    normalize,
    layers.Dense(64),
    layers.Dense(1)
])

In [28]:
norm_abalone_model.compile(
    optimizer = tf.keras.optimizers.Adam(),
    loss = tf.keras.losses.MeanSquaredError(),
    metrics = ["accuracy"]
)

In [29]:
norm_abalone_model.fit(
    abalone_features,
    abalone_labels,
    epochs=10
)

Epoch 1/10
104/104 [==============================] - 1s 2ms/step - loss: 93.3938 - accuracy: 0.0000e+00
Epoch 2/10
104/104 [==============================] - 0s 2ms/step - loss: 54.1508 - accuracy: 0.0000e+00
Epoch 3/10
104/104 [==============================] - 0s 2ms/step - loss: 16.8986 - accuracy: 3.0120e-04
Epoch 4/10
104/104 [==============================] - 0s 2ms/step - loss: 5.8774 - accuracy: 3.0120e-04
Epoch 5/10
104/104 [==============================] - 0s 2ms/step - loss: 5.0610 - accuracy: 3.0120e-04
Epoch 6/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9794 - accuracy: 3.0120e-04
Epoch 7/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9917 - accuracy: 3.0120e-04
Epoch 8/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9453 - accuracy: 3.0120e-04
Epoch 9/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9724 - accuracy: 3.0120e-04
Epoch 10/10
104/104 [==============================] - 0s 2ms/step - loss: 4.9169 - accuracy: 3.0120e-04